$color_primary: #021422;
$color_primary-1: #021422ee;
$color_primary-2: #021e2ea7;
$color_primary_light:#9CD1FF;
$color_accent_1:#ff931e;
$color_accent_2:#99E18E;
$color_white: #FFFF;
$color_white_1: #ffffff8e;
$color_white_2: #ECF6FE;
