// %primary_btn_bg {
//   background-image: -webkit-linear-gradient(
//     131deg,
//     rgb(255, 217, 140),
//     rgb(255, 214, 131),
//     rgb(255, 213, 130),
//     #ffd178
//   );
//   background-image: -o-linear-gradient(
//     131deg,
//     rgb(255, 217, 140),
//     rgb(255, 214, 131),
//     rgb(255, 213, 13),
//     #ffd178
//   );
//   background-image: linear-gradient(
//     131deg,
//     #ffd178,
//     rgb(255, 214, 131),
//     #ffcb62,
//     #ffd178
//   );
// }

%banner-bg-gr-1 {
  background-image: -webkit-linear-gradient(90deg, #021422,#021422d7, #021e2e7d);
  background-image: -o-linear-gradient(90deg, #021422,#021422d7, #021e2e7d);
  background-image: linear-gradient(90deg, #021422,#021422d7, #021e2e7d);
}
