@font-face {
    font-family: 'valken';
    src: $valken;
}
@font-face {
    font-family: 'dosis';
    src: $dosis;
}
@font-face {
    font-family: 'helvetica';
    src: $helvetica;
}
@font-face {
    font-family: 's-s-regular';
    src: $s-s-regular;
}