.btn-1 {
  display: inline-block;
  padding: 5px 16px;
  border-radius: 50px;
  font-weight: 10;
  font-family: dosis !important;
  background-color: $color_accent_1;
  font-size: 8px;
  color: $color-white !important;
  @include ease-transition(all, 0.4s, ease-in-out);
  text-transform: uppercase;
  background-size: 300% 100%;
  &:hover {
    transform: scale(1.04);
    box-shadow: 0px 0px 6px rgba(171, 171, 171, 0.401);
  }

  // @media #{$small_mobile} {
  //   padding: 14px 30px;
  //   margin-top: 25px;
  // }
  // @media #{$large_mobile} {
  //   padding: 14px 30px;
  //   margin-top: 30px;
  // }
  // @media #{$tab_device} {
  //   padding: 14px 30px;
  //   margin-top: 30px;
  // }
  // @media #{$medium_device} {
  // }
}

.btn_3 {
  position: relative;
  font-weight: 500;
  color: #2f3d35;
  display: inline-block;
  z-index: 9;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  line-height: 46px;
  padding-left: 30px;
  margin-top: 15px;
  font-family: dosis;
  &:after {
    height: 48px;
    width: 61px;
    background-color: #e6fada;
    position: absolute;
    content: "";
    top: 0px;
    left: 0px;
    border-radius: 5px;
    z-index: -1;
    -webkit-transition: 0.6s;
    transition: 0.6s;
  }
  i {
    font-size: 12px;
    margin-left: 11px;
  }
}
