.x-flex {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.x-card {
  @each $screen in $all_small_screen {
    @media #{$screen} {
      padding: 10px 0 !important;
    }
  }
}
// .grid-1 {
//   display: grid;
//   grid-template-columns: 40% 30% 30%;
//   @each $screen in $all_small_screen {
//     @media #{$screen} {
//       grid-template-columns: 100%;
//     }
//   }
// }
