@mixin show-borders($color, $size) {
  border: $size solid $color;
}
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin hide-on ($screens){
 @each $var in $screens {
   @media #{$var} {
    display: none;
  }
 }
}
@mixin show-on ($screens){
 @each $var in $screens {
   @media #{$var} {
    display: block;
  }
 }
}
@mixin ease-transition ($object, $time, $type){
  -o-transition: $object $time $type;
  -webkit-transition: $object $time $type;
  transition: $object $time $type;
}